@import url('https://fonts.googleapis.com/css?family=Lora:400i,700|Pangolin|Roboto:400,700|Walter+Turncoat&display=swap');

:root {
    /*
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    */

    /* Override Bootstrap Defaults */
    --font-family-sans-serif: 'Pangolin',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: 'Pangolin',SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;

    /* Create new variables */
    --font-family-serif: 'Walter Turncoat', serif;

    --pinkish: #f92c5c;
    --yellowish: #f5ad12;
}

.kty-bg-pinkish, .bg-pinkish {
    background-color: var(--pinkish) !important;
}

.kty-text-pinkish, .text-pinkish {
    color: var(--pinkish) !important;
}

.kty-bg-yellowish, .bg-yellowish {
    background-color: var(--yellowish) !important;
}

.kty-text-yellowish, .text-yellowish {
    color: var(--yellowish) !important;
}

.text-purple {
    color: var(--purple) !important;
}

body {
    font-family: var(--font-family-sans-serif) !important;
    letter-spacing: 0.05rem;
}

div, form, p, span, a, ul, li {
    font-size: 1.1rem;

}

p, span {
    color: #444;
}

/* Small devices (landscape phones, 544px and up) */
@media (min-width: 320px) {
h1 {font-size: 1.5rem;}
}

@media (min-width: 576px) {
h1 {font-size: 1.75rem;}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1 {font-size: 2rem;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
h1 {font-size: 2rem;}
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
h1 {font-size: 2.25rem;}
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: normal;
}

h1, h2 {
    font-family: var(--font-family-serif);
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
  display: block;
  width: 100%;
}

.react-datepicker-popper,
.react-datepicker__time-container,
.react-datepicker--time-only,
.react-datepicker__time-box,
.react-datepicker__time-list{
    width: 150px !important;
}

.react-datepicker-wrapper {
    /* margin-top: 0.5rem; */
    margin-bottom: 0.75rem;
}